ingress:
  enabled: true
  hosts:
    - jira.{{ .Environment.Name }}.{{ .Environment.Values.helm.domain }}
  annotations:
    kubernetes.io/ingress.class: nginx
jira:
  javaHeapSize: 1536m
  reverseProxyHost: jira.{{ .Environment.Name }}.{{ .Environment.Values.helm.domain }} 
  # Disable websudo for SAML or OIDC
  javaOptions: "-Djira.websudo.is.disabled=true"
resources:
  limits:
    # for single core CPU
    cpu: 800m
    memory: 2560Mi
  requests:
    cpu: 0
    memory: 2560Mi
